* {
    box-sizing: border-box;

}

body {
    background-color: #36393e;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#username form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}

#username form h2 {
    margin-bottom: 10px;
}

#username form input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    color: #36393e;
}

#username form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #7289da;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#username form button:hover {
    background-color: #677bc4;
}

#chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #fff;
}

#container {
    width: 400px;
    height: 100vh;
    background-color: #282b30;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#messageContainer {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    overflow-y: auto;
}

#connecting {
    margin-bottom: 10px;
}

#messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.event-message {
    margin-bottom: 20px;
    text-align: center;
    color: darkgray;
}

.chat-message {
    margin-bottom: 20px;
    width: 100%;
}

.chat-message span {
    margin: 0;
}

.marginLeft {
    margin-left: auto;
    width: max-content;
}

.marginRight {
    margin-right: auto;
    width: max-content;
}

.currentUserMessage {
    background-color: #2a9d8f;
    border-radius: 15px 15px 0 15px;
    padding: 10px;
    text-align: center;
}

.otherUserMessage {
    background-color: #219ebc;
    border-radius: 15px 15px 15px 0;
    padding: 10px;
    text-align: center;
}

#messageSender {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#messageForm input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
    font-size: 16px;
    color: #36393e;
}

#messageForm button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #7289da;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#messageForm button:hover {
    background-color: #677bc4;
}

.hidden {
    display: none;
}
